@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Paylocity Coding Challenge</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            This is a sample application that demonstrates the Paylocity coding challenge.
            It is designed to allow you to demonstrate your abilities and discuss your 
            approach to design and implementation with your potential colleagues.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Business Need</h2>
        <p>
            One of the critical functions that we provide for our clients is the ability 
            to pay for their employees’ benefits packages. A portion of these costs are 
            deducted from their paycheck, and we handle that deduction. Please demonstrate 
            how you would code the following scenario:</p>
            <p>•	The cost of benefits is $1000/year for each employee</p>
            <p>•	Each dependent (children and possibly spouses) incurs a cost of $500/year</p>
            <p>•	Anyone whose name starts with ‘A’ gets a 10% discount, employee or dependent</p>
    </div>
    <div class="col-md-4">
        <h2>Assumptions</h2>
        <p>1) Employees are paid $2000 / pay check</p>
        <p>2) There are 26 pay checks / year</p>
    </div>
</div>
